{{ $title := .Get 0 }}
{{ $src := .Get 1 }}
{{ $annotated := eq (.Get 2) "True" }}
{{ $wip := eq (.Get 3) "True" }}
<a href="/gallery/generated/fullres/{{ $src }}.png">
    <div class="gallery_img_container">
        <img src="/gallery/generated/halfres/{{ $src }}.webp" class="base" alt="{{ $title }}" />
        {{- if $annotated }}
        <img src="/gallery/generated/fullres/{{ $src }}_annotated.svg" class="annotated" alt="{{ $title }}" />
        {{- end }}
        {{- if $wip }}
        <div class="wip">
            <p>WIP</p>
        </div>
        {{- end }}
    </div>
</a>
